# 忽略所有目录下文件名为a的任何文件
a.*

# 忽略所有目录下后缀为txt的文件
*.txt
*.apk
*.zip
# 不忽略所有目录下的c.txt文件
# !c.txt

# 忽略file目录下所有文件，包括其他目录下的file目录下的文件
# 例如 a/file下面的文件会被忽略
# file/
node_modules/

# 只忽略当前file目录下所有文件，不包括其他目录下的file目录下的文件
# 例如 a/file下面的文件不会被忽略
# /file
/out

# 忽略任何位置file目录下的所有文件
# file

# 忽略任何位置file目录下的所有文件 同file
# **/file

# 忽略任何直接位于c目录下的file目录下的所有文件
# **/c/file

# 同file/
# file/**

# 忽略a/file，a/c/file，a/c/d/file 目录下的所有文件
# a/**/file